a{
    text-decoration: none;
    color: #292929;
}
a:hover{
    color: #919191;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margined{
    margin: 20px;
}

.margined_wide{
    margin: 60px;
}

.watchlist_item {
    font-weight:600;
}

#tbc_logo {
    display: inline-block;
    width: 50%;
    height: auto;
    
}