:root{
    --primary-dark: #2B061E;
    --primary-light: #875053;
    --grey-dark: #292929;
    --grey-light: #919191;
    --main-light: #FFFEF3;
}

body{
    background-color: var(--main-light);
}

nav{
    background-color: var(--primary-light);
}

a{
    text-decoration: none;
    color: var(--grey-dark);
}
a:hover{
    color: var(--grey-light);
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margined{
    margin: 20px;
}

.margined_wide{
    margin: 60px;
}

.watchlist_item {
    font-weight:600;
}

#tbc_logo {
    display: inline-block;
    width: 50%;
    height: auto;   
}