:root{
    --primary-dark: #11040D;
    --primary-light: #875053;
    --grey-dark: #271321;
    --grey-light: #403A45;
    --main-light: #FFFEF3;
}

.bg-secondary-light{
    background-color: var(--main-light);
}

.bg-primary-light{
    background-color: var(--primary-light);
}

a{
    text-decoration: none;
    color: var(--grey-dark);
}
a:hover{
    color: var(--grey-light);
}

span, i, div, p, h1, h2, h3, h4{
    color: var(--grey-dark);
}

button i, .mybutton{
    border: 1px solid var(--grey-dark);
    box-sizing: border-box;
    padding : 10px;
    border-radius: 20%;
}

button i:hover, .mybutton:hover{
    border: 1px solid var(--grey-dark);
    background-color: var(--grey-dark);
    color: var(--main-light);
    border-radius: 20%;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margined{
    margin: 20px;
}

.margined_wide{
    margin: 60px;
}

.watchlist_item {
    font-weight:600;
}

#tbc_logo {
    display: inline-block;
    width: 50%;
    height: auto;
    color: var(--primary-dark)
}