{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    
    <h1>Welcome, {{username}}</h1>
    <h2>Your List:</h2>

    {%for item in watchlist%}
    <div class = "margined">
        <form action = "/remove" method = "post">
            <input type = "hidden" name = "film_id" value = "{{item['film_id']}}">
            <button type = "submit" class="btn"><i class="bi bi-trash-fill"></i></button>
            <span class = "watchlist_item">{{item["name"]}}</span>
        </form>
    </div>
    {%endfor%}

    <!--
    <table>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
        </tr>
    </table>
    -->
    
    
{% endblock %}