<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8" name = "viewport" content = "initial-scale = 1, width = device-width">
            <title>To Be Continued: {% block title %}{% endblock %}</title>
        </meta>
        <!--Include Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <!--Boostrap Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!--Include CSS-->
        <link href="static/style.css" rel = "stylesheet">
    </head>
    <body class = "bg-secondary-light">
        <nav class="navbar navbar-expand-lg bg-primary-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img id = "tbc_logo" src="/static/tbc_logo.svg"></a>
              {% if session["username"]%}
                <a href = "/logout">Log Out</a>
                <span class = "centered">{{session["username"]}}</span>
              {% else %}
                <a href = "/register">Register</a>
                <a href = "/login">Log In</a>
              {% endif %}
              
              <div id="navbarSupportedContent">
                <form class="d-flex" role="search" action = "/search" method = "post">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "query" autocomplete="off">
                  <button class="btn" type="submit"><i class="bi bi-search"></i></button>
                  
                </form>
              </div>
            </div>
        </nav>
        <div class = "margined_wide">
          {% block body %}{% endblock %}
        </div>
        <footer>
          <div class = "centered">
            <p>film data provided by <a href = "https://www.themoviedb.org/" target = "_blank"><img src="/static/tmdb_logo.svg" alt = "The Movie Database"></a></p>
          </div>
        </footer>
    </body>
</html>